---
title: UX / Front end designer
layout: default
---

<header class="bg-white w-full lg:w-1/3 p-8 lg:p-12 xl:flex xl:justify-end">
  <div class="lg:max-w-sm xl:my-auto">
    <img src="assets/images/photo.jpg" class="w-16 rounded-full mb-2" alt="Photo of Brian Hurst">
    <h1 class="font-semibold text-grey-darkest text-3xl tracking-tight leading-none"><a href="/" class="font-semibold text-grey-darkest text-3xl tracking-tight leading-none no-underline">{{ site.title }}</a></h1>
    <span class="block mb-8 uppercase divider">{{ page.title }}</span>
    <p class="mb-8 text-lg leading-loose">Hello! I'm a multi-disciplined designer &amp; developer based in <a href="https://goo.gl/maps/vZsgyxQLNnA2">Charlottesville, VA</a>. I currently work with the awesome folks at <a href="https://18f.gsa.gov">18F</a> to deliver better government services through technology and design. Prior to that, I spent time working in the <a href="https://www.defense.gov/">Department of Defense</a> as well as <a href="http://pima.gov">local government</a>, during which time I founded <a href="http://piopost.com">PIOpost</a> &mdash; a social media management platform for public safety agencies.</p>
    {% include social.html %}
  </div>
</header>
<main class="w-full lg:w-2/3 p-8 lg:p-12 xl:max-w-2xl xl:my-auto">
  {% include projects.html %}
</main>
